@inject FeatureService _featureService
@{
    var result = await _featureService.GetAllFeaturesAsync();
    var content = (FeatureEntity)result.ContentResult!;
}
<section class="features">
    <div class="container">
        <h1>@content.Title</h1>
        <p>@content.Ingress</p>
        <div class="tool-features">
            
            @foreach (var item in content.FeatureItems)
            {
                <div class="box">
                    <img src="./images/features/@item.ImageUrl" alt="@item.Title">
                    <h5>@item.Title</h5>
                    <p>@item.Text</p>
                </div> 
            }
        </div>
    </div>
</section>